//-Vie d'Ecosup Campus
mj-wrapper(background-color="#1a1a1a" padding="32px" padding-bottom="0")
    mj-section(padding="0")
        mj-column
            mj-text(align="center" padding="20px 25px" padding-bottom="0px" mj-class="T24-300 cT2") Vie étudiante à Ecosup&nbsp;Campus
            mj-text(align="center" padding="0" mj-class="T13-400 cT2") suivez nous sur les réseaux sociaux
    mj-section(padding="0")   
        mj-column
            mj-social(align="center" padding="0 25px" icon-size="30px" icon-height="30px" inner-padding="20px" mode="horizontal")
                mj-social-element(src="https://i.ibb.co/SwnfcyPX/facebook-H21062025.png" href="https://www.facebook.com/EcosupCamp/" target="_blank" alt="icon facebook")
                mj-social-element(src="https://i.ibb.co/35HB8DPm/instagram-H21062025.png" href="https://www.instagram.com/ecosup.campus/" target="_blank" alt="icon instagram")
                mj-social-element(src="https://i.ibb.co/RG769FDr/linkedin-H21062025.png" href="https://www.linkedin.com/company/ecosup-campus" target="_blank" alt="icon linkedin")