//-Header Aepe images
mj-section(padding="20px")
    mj-column
        mj-image(padding="0" width="153px" src="https://i.ibb.co/18LWQj8/logo-ESante.png" alt="logo Ecosup Santé")/
mj-section(padding="0" mj-class="bg0")
    mj-column(width="100%" padding="3px 0")
        mj-image(padding="0" width="600px" src="https://i.ibb.co/6RYDGsQN/jpo-Aff21062025.png" alt="affiche de la jpo du samedi 21 juin 2025")/
mj-section(padding="0" mj-class="bg0")
    mj-group(width="100%")
        mj-column(width="50%")
            mj-image(padding="0" width="300px" src="https://i.ibb.co/Y7DW32fN/jpo1-Img21062025.png" alt="Groupe d'étudiants")/
        mj-column(width="25%")
            mj-image(padding="0" width="150px" src="https://i.ibb.co/cKjvqwZt/aepe1.jpg" alt="")/
        mj-column(width="25%")
            mj-image(padding="0" width="150px" src="https://i.ibb.co/zWSxW6Fr/jpo-AEPEImg21062025.jpg" alt="")/
    mj-column(mj-class="bg0" width="100%")
        mj-text(align="center" padding="3px 20px" mj-class="T16-700 cTW") Journée Portes Ouvertes samedi&nbsp;21&nbsp;juin&nbsp;de&nbsp;9h30&nbsp;à&nbsp;13h